.work {
  display: none;
  @media screen and (min-width:1200px) {
    display: block;
    padding-bottom: 94px;
  
  &__title {
    color: var(--title-text-color);
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  &__list {
    display: flex;
  }
  &__item {
    width: calc((100% - 30px) / 3);
    position: relative;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__desk {
    color: var(--secondary-title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  &__apps {
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
}
}